extends layout

block content
  h1= title
  - let hotels=results 
  div(class="container-fluid mt-3")
  div(class="row")
    each hotel,index in hotels
        div(class="col-sm-4"   onclick=`buy(${index})`) #{hotel.roomType} - #{hotel.price} - #{hotel.location}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
 