extends layout

block content
  h1(id="title")= title
  if (toShow == null)
    h2 No instance to Display
  else
    - let hotelid = toShow._id
    - let roomType = toShow.roomType
    - let price = toShow.price
    - let location = toShow.location
    div
      div.row
        div(class='costumeAttr mr-3') Hotel ID is:
        div(class='values spcl') #{hotelid}
      div.row
        div(class='costumeAttr mr-3') Room Type is:
        div(class="values") #{roomType}
      div.row
        div(class='costumeAttr mr-3') Hotel Cost is:
        div(class="values") #{price}
      div.row
        div(class='costumeAttr mr-3') Hotel Location is:
        div(class="values") #{location}